mixin SectionTestimonials
	if pageSettings.testimonials_section.items.length
		section(class="bg-[url('/img/review-bg-2.jpg')] bg-no-repeat bg-bottom bg-cover py-24")
			div(class="container")
				div(class="px-2 sm:px-0")
					div(class="flex flex-col items-center justify-center gap-1 text-center")
						h3(class="font-semibold text-cetek-600")!= pageSettings.testimonials_section.subtitle
						h2(class="text-4xl")!= pageSettings.testimonials_section.main_title

					div(class="relative mt-12")
						div(class="-my-8 mx-1")
							div(id="PageHomeTestimonialsSlider", class="keen-slider")
								each item in pageSettings.testimonials_section.items
									div(class="keen-slider__slide")
										div(class="px-16 py-10")
											div(class="flex flex-col items-center justify-center text-center gap-6 max-w-screen-lg mx-auto")
												div(class="relative mb-5")
													img(
														src=item.logo.url,
														alt="alt",
														width="128",
														height="128",
														class="object-cover rounded-md"
													)
													div(class="absolute -bottom-5 -right-5 w-10 h-10 inline-flex items-center justify-center text-center bg-cetek-600 text-white rounded-md")
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M5.7 18L8 14q-1.65 0-2.825-1.175T4 10t1.175-2.825T8 6t2.825 1.175T12 10q0 .575-.137 1.063T11.45 12L8 18zm9 0l2.3-4q-1.65 0-2.825-1.175T13 10t1.175-2.825T17 6t2.825 1.175T21 10q0 .575-.137 1.063T20.45 12L17 18z"/></svg>

												p= item.testimonial

												div(class="flex flex-col items-center justify-center")
													- let n = 0;
													div(class="flex items-center text-yellow-400 mb-1")
														while n <= 4
															<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="m12 17.275l-4.15 2.5q-.275.175-.575.15t-.525-.2t-.35-.437t-.05-.588l1.1-4.725L3.775 10.8q-.25-.225-.312-.513t.037-.562t.3-.45t.55-.225l4.85-.425l1.875-4.45q.125-.3.388-.45t.537-.15t.537.15t.388.45l1.875 4.45l4.85.425q.35.05.55.225t.3.45t.038.563t-.313.512l-3.675 3.175l1.1 4.725q.075.325-.05.588t-.35.437t-.525.2t-.575-.15z"/></svg>
															- n++

													strong= item.fullname
													i= item.brand_name
							button(
								aria-label="Previous slide",
								id="PageHomeTestimonialsSliderPrevButton",
								class="absolute top-1/2 left-0 -translate-y-1/2 rounded-md shadow-lg bg-white ring-2 ring-slate-600 p-2 text-slate-600 transition hover:bg-slate-600 hover:ring-offset-2 hover:text-white active:bg-slate-800 active:ring-slate-800 active:ring-offset-2 active:text-white"
							)
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m7.85 13l2.85 2.85q.3.3.288.7t-.288.7q-.3.3-.712.313t-.713-.288L4.7 12.7q-.3-.3-.3-.7t.3-.7l4.575-4.575q.3-.3.713-.287t.712.312q.275.3.288.7t-.288.7L7.85 11H19q.425 0 .713.288T20 12t-.288.713T19 13z"/></svg>
							button(
								aria-label="Next slide",
								id="PageHomeTestimonialsSliderNextButton",
								class="absolute top-1/2 right-0 -translate-y-1/2 rounded-md shadow-lg bg-white ring-2 ring-slate-600 p-2 text-slate-600 transition hover:bg-slate-600 hover:ring-offset-2 hover:text-white active:bg-slate-800 active:ring-slate-800 active:ring-offset-2 active:text-white"
							)
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16.15 13H5q-.425 0-.712-.288T4 12t.288-.712T5 11h11.15L13.3 8.15q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L19.3 11.3q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.575 4.575q-.3.3-.712.288t-.713-.313q-.275-.3-.288-.7t.288-.7z"/></svg>
