mixin SectionHero
	section(class="relative py-16 px-4 min-h-screen flex flex-col before:content-[''] before:bg-cetek-600 before:h-full before:w-1/2 before:absolute before:top-0 before:left-0 md:px-16 xl:px-32")
		div(class="relative flex-grow flex flex-col")
			div(id="PageHomeHeroSlider", class="keen-slider flex-grow rounded-md overflow-hidden")
				each sliderItem in pageSettings.slider.items
					div(class="keen-slider__slide flex flex-col")
						div(class="relative select-none flex-flex-col flex-grow")
							img(
								src=sliderItem.background_image.url,
								srcset=`${sliderItem.background_image.sizes["2048x2048"]} ${sliderItem.background_image.sizes["2048x2048-width"]}w, ${sliderItem.background_image.sizes["1536x1536"]} ${sliderItem.background_image.sizes["1536x1536-width"]}w, ${sliderItem.background_image.sizes["large"]} ${sliderItem.background_image.sizes["large-width"]}w, ${sliderItem.background_image.sizes["medium_large"]} ${sliderItem.background_image.sizes["medium_large-width"]}w, ${sliderItem.background_image.sizes["medium"]} ${sliderItem.background_image.sizes["medium-width"]}w`,
								alt="alt",
								class="absolute top-0 left-0 z-10 w-full h-full object-cover"
							)
							div(class="relative z-20 flex-grow h-full min-h-[600px] py-28 px-8 flex flex-col items-center justify-center gap-5 text-center bg-neutral-800 bg-opacity-60 md:py-20")
								div(class="flex flex-col justify-center items-center gap-2 max-w-screen-sm")
									h3(class="flex items-center text-white text-opacity-80 text-sm tracking-widest before:content-[''] before:block before:h-1 before:w-8 before:bg-cetek-600 before:mr-3 after:content-[''] after:block after:h-1 after:w-8 after:bg-cetek-600 after:ml-3")= sliderItem.subtitle
									h2(class="text-white font-normal text-3xl sm:text-6xl [&_strong]:font-semibold")!= sliderItem.main_title
									p(class="text-white text-opacity-80 text-sm sm:text-base font-light leading-7")!= sliderItem.description
								a(
									href=sliderItem.button_link,
									class="inline-flex items-center justify-center bg-cetek-600 text-white h-12 px-8 rounded font-medium border border-solid border-transparent transition-all duration-700 leading-none hover:bg-transparent hover:border-white"
								)= sliderItem.button_label
			button(
				aria-label="Previous slide",
				id="PageHomeHeroSliderPrevButton",
				class="absolute bottom-0 left-4 -translate-y-1/2 rounded-md shadow-lg bg-white ring-2 ring-slate-600 p-2 text-slate-600 transition hover:bg-slate-600 hover:ring-offset-2 hover:text-white active:bg-slate-800 active:ring-slate-800 active:ring-offset-2 active:text-white md:bottom-auto md:top-1/2 md:-translate-y-1/2"
			)
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m7.85 13l2.85 2.85q.3.3.288.7t-.288.7q-.3.3-.712.313t-.713-.288L4.7 12.7q-.3-.3-.3-.7t.3-.7l4.575-4.575q.3-.3.713-.287t.712.312q.275.3.288.7t-.288.7L7.85 11H19q.425 0 .713.288T20 12t-.288.713T19 13z"/></svg>
			button(
				aria-label="Next slide",
				id="PageHomeHeroSliderNextButton",
				class="absolute bottom-0 right-4 -translate-y-1/2 rounded-md shadow-lg bg-white ring-2 ring-slate-600 p-2 text-slate-600 transition hover:bg-slate-600 hover:ring-offset-2 hover:text-white active:bg-slate-800 active:ring-slate-800 active:ring-offset-2 active:text-white md:bottom-auto md:top-1/2 md:-translate-y-1/2"
			)
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16.15 13H5q-.425 0-.712-.288T4 12t.288-.712T5 11h11.15L13.3 8.15q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L19.3 11.3q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.575 4.575q-.3.3-.712.288t-.713-.313q-.275-.3-.288-.7t.288-.7z"/></svg>
