include ../../../components/SectoralNozzleCard.component.pug

mixin SectionSectoralNozzles
	section(class="relative")
		div(id="PageHomeSectionSectoralNozzles", class="absolute -top-16 left-0 pointer-events-none w-full h-48")
		div(class="flex flex-col")
			div(class="relative pb-40 before:content-[''] before:block before:bg-[url('/img/row-bg-011.jpg')] before:absolute before:top-0 before:left-0 before:w-full before:max-w-[1742px] before:rounded-r-md before:h-full")
				div(class="py-24")
					div(class="container")
						div(class="grid grid-cols-1 gap-8 px-4 relative sm:px-0 md:grid-cols-2")
							div(class="flex flex-col gap-2")
								h3(class="font-semibold text-cetek-600")!= pageSettings.sectoralNozzlesSection.subtitle
								h2(class="text-4xl")!= pageSettings.sectoralNozzlesSection.title
							p!= pageSettings.sectoralNozzlesSection.description

			div(class="relative -mt-40 mb-24")
				div(class="container")
					div(class="px-2 sm:px-0")
						div(class="relative")
							div(class="-my-8 mx-1")
								div(id="PageHomeSectoralNozzlesSlider", class="keen-slider")
									each sectoralNozzle in sectoralNozzles
										div(class="keen-slider__slide px-4 py-8 flex flex-col")
											+SectoralNozzleCard(sectoralNozzle)
								button(
									aria-label="Previous slide",
									id="PageHomeSectoralNozzlesSliderPrevButton",
									class="absolute top-1/2 left-0 -translate-y-1/2 rounded-md shadow-lg bg-white ring-2 ring-slate-600 p-2 text-slate-600 transition hover:bg-slate-600 hover:ring-offset-2 hover:text-white active:bg-slate-800 active:ring-slate-800 active:ring-offset-2 active:text-white"
								)
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m7.85 13l2.85 2.85q.3.3.288.7t-.288.7q-.3.3-.712.313t-.713-.288L4.7 12.7q-.3-.3-.3-.7t.3-.7l4.575-4.575q.3-.3.713-.287t.712.312q.275.3.288.7t-.288.7L7.85 11H19q.425 0 .713.288T20 12t-.288.713T19 13z"/></svg>
								button(
									aria-label="Next slide",
									id="PageHomeSectoralNozzlesSliderNextButton",
									class="absolute top-1/2 right-0 -translate-y-1/2 rounded-md shadow-lg bg-white ring-2 ring-slate-600 p-2 text-slate-600 transition hover:bg-slate-600 hover:ring-offset-2 hover:text-white active:bg-slate-800 active:ring-slate-800 active:ring-offset-2 active:text-white"
								)
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16.15 13H5q-.425 0-.712-.288T4 12t.288-.712T5 11h11.15L13.3 8.15q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L19.3 11.3q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.575 4.575q-.3.3-.712.288t-.713-.313q-.275-.3-.288-.7t.288-.7z"/></svg>
