extends ../../layouts/Default.layout.pug

include ../../components/Breadcrumbs.component.pug
include ../../components/ProductCard.component.pug

block prepend head
	- PageProps.title = currentCategory.name
	- PageProps.metaDescription = currentCategory.acf.meta_description
	- PageProps.metaKeywords = currentCategory.acf.meta_keywords

block body
	section(class="relative")
		img(
			src=pageSettings.background_image.url,
			srcset=`${pageSettings.background_image.sizes["2048x2048"]} ${pageSettings.background_image.sizes["2048x2048-width"]}w, ${pageSettings.background_image.sizes["1536x1536"]} ${pageSettings.background_image.sizes["1536x1536-width"]}w, ${pageSettings.background_image.sizes["large"]} ${pageSettings.background_image.sizes["large-width"]}w, ${pageSettings.background_image.sizes["medium_large"]} ${pageSettings.background_image.sizes["medium_large-width"]}w, ${pageSettings.background_image.sizes["medium"]} ${pageSettings.background_image.sizes["medium-width"]}w`
			alt=currentCategory.name,
			class="absolute top-0 left-0 w-full h-full object-cover"
		)
		div(class="relative bg-neutral-800 bg-opacity-40 pt-28 pb-40")
			div(class="py-24")
				div(class="container")
					div(class="flex flex-col items-center justify-center text-center gap-4 max-w-screen-sm mx-auto")
						h1(class="text-white text-5xl font-bold text-center")= currentCategory.name
						+Breadcrumbs([
							{
								href: t('pages.home.href'),
								label: t('pages.home.label'),
							},
							{
								href: t('pages.products.href'),
								label: t('pages.products.label'),
							},
							{
								href: `/${currentCategory.slug}${t('slugPrefixes.products')}`,
								label: currentCategory.name,
							},
						])

	section(class="relative -mt-40 mb-24")
		div(class="container")
			div(class="px-2 sm:px-0")
				if products.length
					div(
						class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
					)
						each item in products
							div(class="flex flex-col")
								+ProductCard(item)
				else
					div(class="bg-white border border-neutral-200 shadow rounded-lg px-4 py-8 xs:px-8")
						div(class="flex flex-col items-center gap-5 text-center")
							img(
								src=siteSettings.website_settings.header_logo.sizes['medium'],
								alt=siteSettings.website_settings.header_logo.alt,
								class="w-60"
							)
							div(class="max-w-screen-lg")
								p(class="text-neutral-600 text-sm")= t('noProducts')
							div(class="flex flex-col gap-2 xs:flex-row")
								a(
									href=t("pageHome.sectionAbout.buttonProducts.href"),
									class="inline-flex items-center justify-center bg-cetek-600 text-white h-12 px-8 rounded font-medium border border-solid border-transparent transition leading-none shadow-lg hover:shadow-2xl hover:hover:-translate-y-1 hover:bg-cetek-700 active:ring-1 active:ring-cetek-800 active:ring-offset-2 active:bg-cetek-800"
								)= t("pageHome.sectionAbout.buttonProducts.label")
								a(
									href=t("pageHome.sectionAbout.buttonContact.href"),
									class="inline-flex items-center justify-center bg-slate-600 text-white h-12 px-8 rounded font-medium border border-solid border-transparent transition leading-none shadow-lg hover:shadow-2xl hover:-translate-y-1 hover:bg-slate-700 active:ring-1 active:ring-slate-800 active:ring-offset-2 active:bg-slate-800"
								)= t("pageHome.sectionAbout.buttonContact.label")
